#background {
background-image: url(back.jpg);
background-size: cover;
opacity: 0.75;
}

body {
    background-color: antiquewhite;
}

.b-color-box {
    background-color:#CD6600;
    opacity: 0.75;
    color: black;
}

h2 {
    color: black;
}

main {
    min-width: 50%;
}

.container {
    display: flex; 
    width: 100%; 
  }
  
  .column {
    flex: 1; 
  }
  
